<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h3>Something went wrong...</h3>
        <a href="/" class="btn btn-secondary mt-3">BACK TO HOME</a>
      </div>
    </div>
  </div>
</div>
