<% include ./partials/header %>

<!-- break -->
<% include ./partials/messages %>

<main>
  <div class="welcome mt-5">
    <div class="container">
      <h1 class="display-4 text-center">Welcome to wavechat</h1>
      <p class="lead text-center welcome-text">
        This is a chat app where you can have realtime communications with other
        wavers and catch up on the latest conversations. Ready to join chat?
      </p>
      <div class="d-flex justify-content-center mt-4">
        <a href="/chat" class="btn btn-lg btn-primary">JOIN CHAT</a>
      </div>
    </div>
  </div>
</main>
